/* color variables (hexes are ugly) */
/* coolers link: */
/* https://coolors.co/111122-0e1428-626267-ffffee-e84855 */
:root {
  --funky-blue: #212e5e;
  --astronaut: #2b3d7b;
  --oxford-blue: #0E1428;
  --dim-gray:  #626267;
  --ivory: #FFFFEE;
  --xiketic: #111122;
  --red-crayola: #e84855;
}

body  {
  background-color: var(--funky-blue);
  color: var(--dim-gray);
  font-family: 'Baloo 2';
}

.slideshowContainer {
  width: 98%;
  height: 45%;
  background-color: var(--xiketic);
  border-radius: 15px;
}
.carousel-item  img {
  height: 95%;
}


.mainContent  {
  width: 85%;
  float: left;
  /* height: 150%; */
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 2%;
  background-color: var(--ivory);
  border-radius: 15px;
}
.mainContent  h1 {
  margin-left: 2%;
  text-decoration: underline;
}
.mainContent  hr  {
  margin-left: 1%;
  width: 50%;
}
.mainContent  h3  {
  margin-left: 3%;
  width: 80%;
}
.mainContent  p {
  margin-left: 5%;
  width: 80%;
}

.navSection  {
  width: 85%;
  height: 10%;
  margin-right: 1%;
  margin-top: 2%;
  background-color: var(--ivory);
  border-radius: 15px;
  float: left;
  display: inline;
}
.navSection h1  {
  margin-left: 2%;
  text-decoration: underline;
}
.navSection a {
  margin-left: 8%;
  width: 10%;
}
