/* color variables (hexes are ugly) */
/* coolers link: */
/* https://coolors.co/111122-0e1428-626267-ffffee-e84855 */
:root {
  --funky-blue: #212e5e;
  --astronaut: #2b3d7b;
  --oxford-blue: #0E1428;
  --dim-gray:  #626267;
  --ivory: #FFFFEE;
  --xiketic: #111122;
  --red-crayola: #e84855;
}

body    {
    background-color: var(--funky-blue);
    color: var(--dim-gray);
    font-family: 'Baloo 2';
}

.navSection {
    min-height: 64px;
    background-color: var(--ivory);
    max-width: 50%;
    min-width: 25%;
    border-radius: 5px;
    margin-left: 3%;
    padding: 0px;
    text-align: center;
}

.navSection center  a   {
    margin: 0px;
}
