/* color variables (hexes are ugly) */
/* coolers link: */
/* https://coolors.co/111122-0e1428-626267-ffffee-e84855 */
:root {
  --funky-blue: #212e5e;
  --astronaut: #2b3d7b;
  --oxford-blue: #0E1428;
  --dim-gray:  #626267;
  --ivory: #FFFFEE;
  --xiketic: #111122;
  --red-crayola: #e84855;
}

body    {
    background-color: var(--astronaut);
    font-family: 'Baloo 2';
}

body    hr  {
    color: var(--red-crayola);
}

.navSection {
    min-height: 64px;
    background-color: var(--ivory);
    max-width: 70%;
    min-width: 25%;
    border-radius: 5px;
    margin-left: 3%;
    padding: 0px;
    text-align: center;
    color: var(--dim-gray);
}

.navSection a   {
    margin: 0px;
    font-size: 2em;
}

.primaryContent {
    max-width: 98%;
}

.slideshowContainer {
    margin-left: 3%;
    border-radius: 5px;
    background-color: var(--xiketic);
    width: 95%;
}

.carousel-item  img {
    max-height: 512px;
    min-height: 256px;
}

.mainContent    {
    float: left;
    border-radius: 5px;
    background-color: var(--ivory);
    max-width: 69%;
    min-width: 69%;
    min-height: 25%;
    margin-top: 3%;
    margin-left: 3%;
    padding-right: 0px;
    margin-right: 0px;
}

.mainContent    h1  {
    color: var(--red-crayola);
    margin-left:2%;
    margin-top: 2%;
}

.mainContent    h2  {
    color: var(--dim-gray);
    margin-left: 3%;
    margin-top: 1%;
}

.mainContent    p   {
    color: var(--dim-gray);
    margin-left: 3%;
    margin-right: 3%;
}

.mainContent    .manyShapes {
    color: var(--astronaut);
}

.mainPosts    {
    margin-top: 3%;
    margin-left: 3%;
    padding-left: 0px;
    background-color: var(--ivory);
    border-radius: 5px;
    float: right;
    width: 25%;
    color: var(--dim-gray);
}

.mainPosts  a {
    text-decoration: none;
    color: var(--red-crayola);
}

.mainPosts  h1 {
  margin-left: 2%;
  text-decoration: none;
  color: var(--dim-gray);
}

.mainPosts  hr  {
  margin-left: 1%;
  width: 85%;
  color: var(--red-crayola);
}

.mainPosts    h2  {
    margin-left: 4%;
    text-decoration: underline;
}

.mainPosts p {
  margin-left: 7%;
  width: 90%;
  color: var(--dim-gray);
  text-decoration: none;
}

.footer {
    color: var(--red-crayola);
    min-width: 98%;
    margin-top: 10%;
    float: right;
    background-color: var(--funky-blue);
    border-radius: 5px;
    margin-right: 1%;
}

.mission    {
    color: var(--red-crayola);
    margin-left:3%;
    margin-top: 3%;
    background-color: var(--ivory);
    border-radius: 5px;
}

.mission    h1  {
    margin-left: 1%;
    margin-right: 1%;
}

.vision    {
    color: var(--red-crayola);
    margin-left:3%;
    margin-top: 3%;
    background-color: var(--ivory);
    border-radius: 5px;
    float: left;
}

.vision    h1  {
    margin-left: 1%;
    margin-right: 1%;
}

.manyShapes    {
    color: var(--astronaut);
    margin-left:3%;
    margin-top: 3%;
    background-color: var(--ivory);
    border-radius: 5px;
    float: left;
}

.manyShapes    h2  {
    margin-left: 1%;
    margin-right: 1%;
}

.memorialSummary    {
    background-color: var(--ivory);
    border-radius: 5px;
}

.memorialSummary    h2   {
    margin-left: 2%;
}

.memorialPhoto  {
    float: right;
    background-color: var(--ivory);
    border-radius: 5px;
    margin-top: 1%;
}

.memorialPhoto  p   {
    margin-left: 2%;
}

.memorialFull   {
    background-color: var(--ivory);
    border-radius: 5px;
    margin-right: 2%;
    max-width: 80%;
}

.memorialFull   p   {
    margin-left: 2%;
    margin-top: 2%;
    font-size: 1.25em;
}
