---
layout: default
---
{% include mission.md %}
<div class="mainContent">
<p>The Keegan Charles Foundation was established in 2021.</p>
<p>Keegan Charles Smith was an avid supporter of the underdog and a champion for justice.</p>
<p>Keegan wanted everyone to find their passion, care deeply, and give generously.</p>
<p> KCF is a memorial scholarship fund established in Keegan’s name with the intention of providing support for neurodivergent and LGBTQ youth. This scholarship welcomes students with autism, Asperger's syndrome, dyslexia, dyscalculia, epilepsy, hyperlexia, Dyspraxia, and ADHD, as well as other neurodivergent conditions. We also welcome queer students.</p>
<p>We offer memorial grants and scholarships for personal development and educational opportunities to allow these young people to connect with others.</p>
<p>The Keegan Charles Foundation hopes our recipients learn more about their strengths by telling us about the obstacles that they have overcome.</p>
<p>We encourage our potential scholarship winners to carry that sense of achievement into accomplishments that will bring them their dreams.</p>
</div>
<div class="manyShapes"><h2>{% include manyShapes.md %}</h2></div>
{% include vision.md %}
