---
layout: default
---
<link rel="stylesheet" href="/css/authorblurb.css">
<link rel="stylesheet" href="/css/strangeCases.css">
<div class="mainContent">
    <small>{{ page.date | date: "%-d %B %Y" }}</small>
    <h1>{{ page.title }}</h1>
    <p class="view">by {{ page.author | default: site.author }}</p>

    {{content}}

</div>
<div class="mainPosts">
    <h1>Posts:</h1>
    <hr />
    {% for post in site.posts limit:15 %}
        <a href="{{ post.url }}">
            <h2>{{ post.title }}</h2>
            <p>{{ post.date | date: "%m/%d/%Y %H:%M"}}</p>
            <p>{{ post.excerpt | truncatewords: 12 }}</p>
        </a>
        <hr />
    {% endfor %}
    <hr />
    <a href=""><h2>All Posts</h2></a>
</div>

{% assign authorData = site.data.authors[site.author] %}

<div class="author-bio">
    <img src="/images/{{ authorData.image }}" alt="{{ site.author }}'s profile picture." />
    <div class="author-name">{{ site.author }}</div>
    <p class="bio">{{ authorData.bio }}</p>
    {% for social in authorData.socials %}
    <a href="{{ social.url }}" class="social-link">{{ social.type }}</a>
    <br>
    {% endfor %}
</div>
<!--<h5>Site Last Updated: {{ site.time | date: "%m/%d/%Y %H:%M" }}</h5>-->
